@model IEnumerable<EOnego.Models.Product>


<form method="post">
    <div class="row p-2 mb-4">

        <div class="col-4">
            @Html.DropDownList("FilterOption",ViewBag.filterOption,"Select What do you want", new{@class = "form-control", id = "filterDropdown"})
        </div>

        <div class="col-4 input-group">
            <input type="text" id="sInput" class="form-control" placeholder="Search" />

            <span id="result" class="input-group-text"><i class="fas fa-search"></i></span>
        </div>

        <div class="col-4">

            <button type="button" id="sBtn" class="btn btn-info form-control">Search</button>
        </div>
    </div>

</form>



<div id="productListContainer">
    @await Html.PartialAsync("_ProductPartialView", Model)
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //debugger
            //  search button event
            $('#sBtn').click(function () {
                var inputData = $('#sInput').val();         // input box
                var listOptionValue = $('#filterDropdown').val(); // Title, Author, All

                // AJAX call
                $.ajax({
                    url: '/Customer/Home/Index',
                  
                    data: {
                        listOption: listOptionValue,
                        DataSearch: inputData
                    },
                    success: function (result) {

                        $('#productListContainer').html(result);
                    }
                });
            });
        });
    </script>
}
   

